{% extends "base.jinja" %}
{% block titulo %}Error 😒 {% endblock %} | Tareas Flask
{% block informacion %}
    <div class="row bg-dark">
        <div class="bg-light" style="width:60%">
            <p>Token incorecta</p>
        </div>
    </div>
{% endblock %}