{% extends "base.jinja"%} 
{% block titulo%}Cambiar Password{% endblock %}
{% block informacion %}
<p>Hola <code id="correo">{{ correo }}</code></p>
<form id="form-pwd">
  <div class="mb-3">
    <label for="pwd1" class="form-label">Password</label>
    <input type="password" class="form-control" id="pwd1" />
  </div>
  <div class="mb-3">
    <label for="pwd2" class="form-label">Repita la password</label>
    <input type="password" class="form-control" id="pwd2" />
  </div>
  <button id="btn-enviar" type="button" class="btn btn-primary">Cambiar Password</button>
</form>
<script src="{{url_for("static", filename="change_password.js")}}"></script>
{% endblock %}
